<section class="footer  ">
   <div class="container">
    <div class="row text-center">
        <div class="col-md-4 p-4 p-md-0 ">
            <div class="item">
                <h2>LOCATION</h2>
                <p>2215 John Daniel Drive</p>
                <span>Clark, MO 65243</span>
            </div>
        </div>
        

        <div class="col-md-4 p-4 p-md-0">
            <div class="item">
                <h2>AROUND THE WEB</h2>
                <i class="fa-brands fa-facebook icon "></i>
                <i class="fa-brands fa-instagram icon"></i>
                <i class="fa-brands fa-linkedin icon"></i>
                <i class="fa-brands fa-twitter icon"></i>
               </div>
            </div>
        

        <div class="col-md-4 p-4 p-md-0">
            <div class="item">
                <h2>ABOUT FREELANCER</h2>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>


    </div>
   </div>
</section>

<section class="footer-2">
    <p class="text-center">Copyright © Your Website 2021</p>
</section>
