<nav class="navbar navbar-expand-lg  ">
    <div class="container">
      <a class="navbar-brand fs-2 fw-bold text-white" href="#">START FRAMEWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  " id="navbarNav">
        <ul class="navbar-nav fs-4  ms-auto">
         
          <li class="nav-item p-2 ">
            <a class="nav-link" routerLink="about" routerLinkActive="my-bg rounded">About</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link" routerLink="portfolio" routerLinkActive="my-bg rounded">Portfolio</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link" routerLink="contact" routerLinkActive="my-bg rounded">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
