h2{
    color:#2C3E50;
    text-align: center;
}
.line-1{
    width: 100px;
    height: 4px;
    margin: 10px;
    background-color:#2C3E50 ;
}
.layer{
    position: absolute;
    background-color:rgba(26, 190, 158, 0.7);
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all .4s;
}
.layer:hover{
    opacity: 1;
}

.dark-layer {
    position: fixed; 
    width: 100vw;   
    height: 100vh;  
    top: 0;
    left: 0;
    background-color: rgba(44, 62, 80, 0.9); 
    z-index: 99999; 
   
}
